.btn
  font-weight: 800
  background: $darkDesaturatedBlue
  padding: 8px 35px
  outline: none
  color: $grayishBlue
  border: solid 2px transparent
  border-radius: 50px
  cursor: pointer
  transition: all 1s ease-in-out

  &:hover
    color: $white
