html
  padding: 0px
  margin: 0px
  *
    box-sizing: border-box


  body
    font-family: 'Manrope', sans-serif
    font-size: 15px
    padding: 0px
    margin: 0px

.main
  background-image: url("../../../images/bg-pattern.svg")
  background-repeat: no-repeat
  background-size: 68.625em
  background-position: 1% 0%
  min-height: 100vh

  @include breakpoint-up (large)
    background-size: 96.625em
    // background-position: 1% -93%


.container
  margin: auto
  padding: 20px
