.pricing
  @include flex-column(space-around, center)
  border-radius: 5px
  box-shadow: 0px 1px 10px 0px #8080804f
  height: 375px
  padding: 20px
  color: $grayishBlue
  background-color: $white
  text-align: center

  &__details
    display: grid
    grid-template-rows: repeat(4, 1fr)
    grid-template-columns: 1fr

  &__pageview
    grid-row: 1 / 1
    grid-column: 1 / 1
  &__price
    grid-row: 3 / 3
    grid-column: 1 / 1
  
  &__ranger
    grid-row: 2 / 2
    grid-column: 1 / 1

  &__billing
    grid-row: 4 / 4
    grid-column: 1 / 1

    &-monthly
    
    &-yearly
    
    &-toggle
    
  &__features
    ul
      margin: auto
      list-style-type: none
  
  &__feature
  
  &__cta