.pricing
  @include flex-column(space-around, center)
  border-radius: 8px
  box-shadow: 0px 6px 24px 0px #c7c5c54f
  margin: auto
  padding: 0px
  margin-bottom: 30px
  width: 80%
  color: $grayishBlue
  background-color: $white
  text-align: center
  font-size: $small
  @include breakpoint-up (xlarge)
    font-size: 14px
  @include breakpoint-up(medium)
    width: 350px
  @include breakpoint-up(xlarge)
    width: 470px
  @include breakpoint-up(xxlarge)
    width: 560px
  

  & > div
    // padding: 0 17px
    width: 100%
    @include breakpoint-down (small)
      padding: 20px
  
    @include breakpoint-up(medium)
      padding: 25px 15px

    
  .pricing__section
    @include breakpoint-up(xlarge)
      padding: 45px 50px

  &__details
    display: grid
    grid-template-rows: repeat(4, max-content)
    grid-gap: 26px
    grid-template-columns: 100%
    @include breakpoint-up(xxlarge)
      grid-gap: 36px
      

    // padding: 25px 0

    @include breakpoint-up(medium)
      grid-template-rows: repeat(3, max-content)
      grid-template-columns: 1fr 4fr

      & > div:not(:last-child)
        @include flex-row (flex-end, center)
    

  &__pageview
    grid-row: 1 / 1
    grid-column: 1 / 1

    @include breakpoint-up(medium)
      grid-row: 1 / 1
      grid-column: 1 / 1
      width: 108px

    @include breakpoint-up(large)
      width: max-content

    font-weight: 800
    letter-spacing: 0.1em
    #pageviews
      padding-right: 5px

  &__price
    grid-row: 3 / 3
    grid-column: 1 / 1

    @include breakpoint-up(medium)
      grid-row: 1 / 1
      grid-column: 2 / 2
      margin: 0px

    @include flex-row(center, center)
    font-weight: 600
    // margin: 5px auto

    #price
      padding-right: 5px
  
  &__ranger
    grid-row: 2 / 2
    grid-column: 1 / 1
    label
      width: 100%

    @include breakpoint-up(medium)
      grid-row: 2 / 2
      grid-column: 1 / 3


  &__billing
    grid-row: 4 / 4
    grid-column: 1 / 1
    margin-right: -10px
    @include flex-row (center, center)

    @include breakpoint-up(medium)
      grid-row: 3 / 3
      grid-column: 1 / 3
      margin-right: 0
      justify-content: flex-end

    div:not(:last-child)
      margin: 0px 5px
      @include breakpoint-up(xxlarge)
        margin: 0px 10px

    
    &-yearly
      @include flex-row (space-between, center)
      width: 130px
      @include breakpoint-down (small)
        width: 100px

      @include breakpoint-up (large)
        width: 180px

      #discount
        font-size: 0.795em
        font-weight: bold
        background-color: $lightGrayishRed
        color: $lightRed
        border-radius: 10px
        padding: 2px 5px
    
  .features
    border-top: solid 1px $lightGrayishBlue1
    
    @include breakpoint-down (small)
      padding: 20px 0px 27px 0px

    @include breakpoint-up(medium)
      @include flex-row (space-between, center)
      text-align: left
    @include breakpoint-up(xlarge)
      padding: 25px 52px

    @include breakpoint-up(sxlarge)
      padding: 35px 52px

    ul
      margin: auto
      margin-bottom: 22px
      padding: 0px
      list-style-type: none
      @include breakpoint-up(medium)
        margin: 0


    &__item
      &:not(:last-child)
        margin-bottom: 11px
      img
        margin: 0px 8px

#price
  font-size: $large
  color: $darkDesaturatedBlue
  font-weight: 800
  @include breakpoint-up (xlarge)
    font-size: $xlarge


.hide-for-mobile
  @include breakpoint-down(small)
    display: none